body {
  background-color: rgb(187, 187, 187);
  cursor: default;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
  margin-top: -3%;
  position: relative;
  flex-direction: column;
  cursor: default;
}
.canvas {

  justify-content: center;
  align-items: center;
  background: rgb(106, 106, 106);
  border: 8px solid #2f2f2f;
  width: 100%;
  position:relative;
  cursor: default;
}

@media screen and (min-width: 515px){
  .site-container {
    flex-direction: row;
  }
}