.navClass {
    margin: auto;
    font-weight: bolder;
    font-size: 2rem;
    margin: auto;

    position: relative;

    width: 100%;

}
.container {
    display: inline-block;
    margin-left: 2%;
}
.nav-wraper{
    background-color: rgb(44, 44, 44);
    height: 10%;

}

.pic {
    width: 6%;
    height: 6%;
    margin-left: 2%;
    margin-bottom: 2%;
    justify-content: left;
    position: relative;

}

a {
    text-decoration: none;
}